* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    top: 250px;
    height: 1024;
    width: 768;
}

.login-box {

    width: 502px;
    height: 340px;
    left: 400px;
    top: 300px;
    background: #FDE4F3;
    box-shadow: -3px -3px 4px rgba(242, 91, 182, 0.29), 15px 6px 4px rgba(242, 91, 182, 0.29);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.container-info {
    display: flex;
    width: 250px;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.container-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 240px;
    height: 100px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    /* line-height: 1; */
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.inputs {

    margin-block: 8px;
    width: 200px;
    height: 22px;
    display: flex;
    align-content: center;
    background: rgba(242, 91, 182, 0.29);
    box-shadow: 0px 4px 4px #CA2588;
    border-radius: 5px;
    border: none;
    font-family: 'Marvel', sans-serif;
    font-size: medium;
}

.btn-container {
    width: 240px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    border-radius: 50px;
    background: #FABDE2;
    box-shadow: 6px 4px 4px #F692CF;
    border: 0;
    width: 100px;
    height: 32px;
    font-family: 'Marvel';
    font-style: normal;
    margin-top: 10px;
    font-size: 22px;
    color: #CA2588;

}

.dad-login {

    background-color: aqua;
    /* width: 450px; */
    height: 200px;
    /* display: flex; */
    /* justify-content: center; */

}

.btn-access {
    border-radius: 50px;
    background: #FABDE2;
    box-shadow: 6px 4px 4px #F692CF;
    border: 0;
    width: 100px;
    height: 32px;
    font-family: 'Marvel';
    font-style: normal;
    margin-top: 10px;
    font-size: 22px;
    color: #CA2588;
}

.title-login {
    position: absolute;
    right: 320px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;

}

.jn-title {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
}