.box {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Marvel';
}

.container-title {

    width: 260px;
    height: 30px;
    font-family: 'Marvel';
    border-radius: 20px 20px 0px 0px;
    background-color: #FF92D3;
    font-size: x-large;
    border: none;
    color: #CA2588;
    padding: 10px;
}

::placeholder {
    color: #CA2588;
}

.text-description {
    width: 280px;
    height: 225px;
    border-radius: 0px 0px 20px 20px;
    border: none;
    background-color: #FABCE1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-description {
    width: 260px;
    height: 175px;
    font-family: 'Marvel';
    border-radius: 0px 0px 20px 20px;
    border: none;
    background-color: #FABDE2;
    font-size: large;
    color: #CA2588;
    padding: 10px;
    padding-bottom: 0;
}

.dad-save {
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-save {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #FABDE2;
    /* box-shadow: 2px 4px 4px #F692CF; */
    border: none;
    border-color: #CA2588;
    font-family: 'Marvel';
    font-style: normal;
    font-size: 22px;
    color: #CA2588;
    bottom: 0;
}