
.JournalNote_logo {
    position: absolute;
    width: 424px;
    height: 271px;
    left: 302px;
    top: 160px;
}

.title {
    color: #CA2588;
    font-family: 'Marvel', sans-serif;
    font-size: 50px;
    text-align: center;

}