.LoginBox_box {

    position: absolute;
    width: 569px;
    height: 367px;
    left: -75px;
    top: 315px;
    background: #FDE4F3;
    box-shadow: -3px -3px 4px rgba(242, 91, 182, 0.29), 15px 6px 4px rgba(242, 91, 182, 0.29);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
    justify-content: center;
    align-items: center;
      
}

.LoginBox_container {
    block-size: border-box;
    background-color: none;
}

.LoginBox_title {

    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 63px;
    text-align: center;
    margin: 10px;
    color: #CA2588;
    block-size: border-box;
}
.LoginBox_info {

    width: 30 px  ;
   

}

.LoginBox_line{
    display: flex;
    justify-content: space-between;
    width: 36px ;

}


