/* :root{
    --font-Marvel: font-family: 'Marvel', sans-serif;
    --font-Pacifico: font-family: 'Pacifico', cursive;
    --pink-light-color: background-color: #FCDCEF;
} */

/* * {

    margin: 1px;
    padding: 1px;
    border: 0; */
/* } */

header {
    position: absolute;
    width: 1024px;
    height: 99px;
    left: 0px;
    top: 0px;
    background: #F9B6DF;
}

body {

    position: relative;
    width: 1024px;
    height: 1366px;
    font-family: 'Marvel', sans-serif;
    background-color: #FCDCEF;
}